<ion-view view-title="مرحبا">
  <ion-content style="direction: rtl;">
    <div class="list card">

  <div class="item item-avatar">
    <img src="img/icon.png">
    <h2>تطبيق وظيفة</h2>
    <p>2016-2017</p>
  </div>

  <div class="item item-body">
    <img class="full-image" src="img/icon.png">
    <p>
      وظيفة تطبيق ذات واجهة جميلة يمكنك من الوصول إلى أحدث الوظائف بشكل مستمر.
      تطبيق خاص بالدولة المغربية يوفر معلومات حول الوظائف المتوفرة في القطاع العام والخاص وأيضاً وظائف خارج المغرب، بالإضافة إلى نصائح ومباريات ومعلومات مفصلة.
    </p>
    <p>
      <a href="#" class="subdued">إذا أعجبك التطبيق المرجو تقييمه في متجر التطبيقات وشكراً </a><br><br>
    </p>
  </div>

  </div>
  </ion-content>
</ion-view>