<ion-view cache-view="false" view-title="إعدادات">
  <ion-content>
  	<div class="list">
  	  <div class="item item-divider">
	    إعدادات عامة
	  </div>
	  <a class="item item-icon-left" ng-click="reset()">
	    <i class="icon ion-trash-a"></i>
	    إعادة تعيين البرنامج
	  </a>
	  <div class="item item-divider">
	    معلومات الإتصال
	  </div>
	  <a class="item item-icon-left">
	    <i class="icon ion-android-mail"></i>
	    medstdeveloper@gmail.com
	  </a>
	  <a class="item item-icon-left" ng-click="facebook()">
	    <i class="icon ion-social-facebook"></i>
	    تطبيق وظيفتي
	  </a>
    </div>
  </ion-content>
</ion-view>
